/* Reset de márgenes y rellenos por defecto */
body h1, body h2, body h3, body p {
    margin: 0;  /* Ajusta según sea necesario o según el estilo de tu página */
}

/* Estilos para el cuerpo de la página */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ajusta según sea necesario */
    margin: 0;
}

/* Ajustes para el cuerpo y el HTML */
body, html {
    margin: 0;
    padding: 0;
    position: relative;
    margin-bottom: 0px; /* ajusta según sea necesario */
    
}


.container {
    flex: 1;
    margin-top: 80px;
    margin-bottom: 50px;
}

/* Estilos para la barra de navegación */
.navbar {
    background-color: #112A4A;
}

/* Estilos para el logotipo en la barra de navegación */
.navbar-brand {
    color: #ffffff;
    font-weight: bold;
}

/* Estilos para los enlaces en la barra de navegación */
.navbar-nav .nav-link {
    color: #ffffff;
    margin-right: 15px;
}

/* Estilos para el botón de búsqueda */
.navbar-form {
    display: flex;
    align-items: center;
}

/* Estilos para el formulario de búsqueda */
.navbar-form input {
    margin-right: 10px;
}

/* Estilos para el pie de página */
.footer {
    background-color: #112A4A;
    color: #DDA337;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

/* Estilos para los enlaces del pie de página */
.footer a {
    color: #D5A877;
}

/* index */
#carouselExampleIndicators {
    width: 100%; /* Ocupa el 100% del ancho disponible */
    height: 600px; /* Ajusta la altura según sea necesario */
    overflow: hidden; /* Evita que las imágenes se desborden */
}

.carousel-item {
    height: 100%; /* Ajusta la altura de cada elemento del carrusel */
}

.d-img{
    height: 100%;
    object-fit: cover;
}