{% extends 'tienda/layout.html' %}
{% load static %}

{% block body %}
  <a href="{% url 'tienda:home' %}" class="btn btn-primary">Volver al inicio</a>
  <h2>Agregar Alumno</h2>

  <div class="row">
    <div class="col-md-4">
      <!-- Formulario para agregar un alumno -->
      <form action="." method="POST" enctype="multipart/form-data" class="mt-2">
        {% csrf_token %}
        {{ alumno_form.as_p }}
        <button type="submit" name="alumno_form" class="btn btn-primary">Agregar Alumno</button>
      </form>
    </div>
  </div>

  {% if datos_alumno %}
        <!-- Aquí puedes mostrar los datos del alumno agregado -->
        <h2>Datos del Alumno Agregado</h2>
        <p>Nombre: {{ datos_alumno.nombre }}</p>
        <p>Dirección: {{ datos_alumno.direccion }}</p>
        <!-- Mostrar otros datos del alumno aquí -->
  {% endif %}
  <!-- Contenedor para mostrar la tabla de datos del alumno -->
  
  
{% endblock body %}
