{% extends 'tienda/layout.html' %}
{% load static %}

{% block body %}
<div style="display: flex;">
    <div style="flex: 1;">
        <h1>Formulario para asociar usuarios a clases</h1>
        <div id="calendario" style="flex: 1;"></div>
        <label>Hola {{ request.user.username }}, puedes elegir las clases que quieres tomar</label><br>
        <form method="post" id="claseForm" action="{% url 'tienda:asociar_usuario_clases' %}">
            {% csrf_token %}
            <input type="hidden" name="clase_id" value="{{ clase.id }}">
            <input type="hidden" id="horariosSeleccionados" name="horariosSeleccionados" value="">
            <div id="informacionEvento"></div>
            <button type="button" id="enviarHorariosBtn">Asociar a Clase</button>
            
        </form>
    </div>
    
    
</div>

    <script>
        const getHorariosClaseURL = '{% url "tienda:get_horarios_clase" %}';

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
    <script src="{% static 'js/calendario.js' %}"></script>
{% endblock body %}
